<header class="admin-header">
  <div class="logo-section">
    <img src="assets/admin-logo.png" alt="Logo" class="logo" />
    <h1 class="title">Admin Panel</h1>
  </div>
  <nav class="nav-links">
    <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/admin/analytics" routerLinkActive="active">Analytics</a>
    <a routerLink="/admin/vehicles" routerLinkActive="active">Vehicles</a>
    <a routerLink="/admin/users" routerLinkActive="active">Users</a>
    <a (click)="logOut()" > LogOut </a>
  </nav>
</header>
